<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel="true" name="Ecommerce">
<listeners>
<listener  class-name="NikhitaJagota.Ecommerce.Tests.Listeners" />
</listeners>

  <test thread-count="5" name="OrderCreation">
    <classes>
      <class name="NikhitaJagota.Ecommerce.StandAloneTest"/>
      
      
    </classes>
  </test> <!-- OrderCreation -->
</suite> <!-- Ecommerce -->
